.cart-container {
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 40%;
  height: 98%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0.2rem 0 0rem 0.2rem;
  background-color: rgba(0, 0, 0, 0.5);
  background-color: white;
  overflow: auto;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 0.5rem;
}

.cart-close-button {
  border: none;
  background: none;
  place-self: start;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.cart-close-button > .svg-image {
  width: 2rem;
}

.cart-items {
  width: 100%;
  display: grid;
  gap: 0.6rem;
  margin-top: 1rem;
}

.empty-cart-section {
  text-align: center;
  font-weight: bold;
}

.cart-item {
  display: grid;
  grid-template-columns: 2fr 1.4fr 0.5fr;
  place-items: center;
  padding-bottom: 0.6rem;
  border-bottom: 2px solid rgb(0, 0, 0, 0.2);
}

.cart-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.cart-item-image {
  width: 3rem;
  object-fit: contain;
}

.cart-item-title {
  font-size: 1rem;
  margin-right: 0.4rem;
  padding: 0.1rem;
}

.item-controls {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  place-items: center;
  gap: 0.5rem;
}

.quantity-button,
.remove-item-button {
  border: none;
  background: none;
  padding: 0.2rem;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.quantity-button .svg-image {
  width: 0.8rem;
}

.remove-item-button .svg-image {
  width: 0.8rem;
}

.clear-items-button {
  background-color: rgb(228, 68, 68);
  width: 90%;
  padding: 0.6rem 0.5rem;
  margin: 1rem 0;
  border-radius: 0.2rem;
  cursor: pointer;
  font-weight: bold;
  color: rgb(230, 231, 232);
  text-transform: uppercase;
  border: none;
}

.cart-summery {
  width: 100%;
  display: grid;
  gap: 0.4rem;
}

.total-quantity,
.total-amount {
  font-size: 1.05rem;
}

.total-quantity > span,
.total-amount > span {
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
  .cart-container {
    width: 70%;
  }
}

@media screen and (max-width: 468px) {
  .cart-container {
    width: 90%;
  }
}
