* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 1200px;
  /* color: #1f2633; */
  margin: 0 auto;
  min-height: 100vh;
  background-color: #1f2633;
  color: white;
  display: grid;
  place-items: center;
}
